#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: "flex";
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.what-now {
  font-size: 24px;
  padding: 16px;
}

.ask-form {
  text-align: center;
}

.go {
  font-size: 24px;
  padding: 16px;
}

.app-container {
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32;
  color: black;
}

.app-container-done {
  display: flex;
  align-items: center;
  justify-content: center;
}